

<!-- Google Scholar Meta -->
$if(published)$
<meta name="citation_title" content="$title$">
$for(authors)$
<meta name="citation_author" content="$authors$">
$endfor$
<meta name="citation_journal_title" content="Computo">
<meta name="citation_pdf_url" content="https://computo.sfds.asso.fr/$repo$/$repo$.pdf">
<meta name="citation_publication_date" content="$date$">
<meta name="citation_public_url" content="https://computo.sfds.asso.fr/$repo$/">
<meta name="citation_issn" content="2824-7795">
$endif$
