name: build

on:
  workflow_dispatch:
  push:
    branches: main

jobs:
  build-and-publish:    
    runs-on: ubuntu-latest
    permissions:
      contents: write   
    steps:
      - name: Checking out repository for Github action
        uses: actions/checkout@v3

        
      - name: Cache micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          cache-environment: true
          
      - name: Installing quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: true
          version: pre-release

      - name: register tinytex globally for diagram.lua
        run: |
          mkdir -p ~/.local/bin
          ~/.TinyTeX/bin/x86_64-linux/tlmgr option sys_bin ~/.local/bin
          ~/.TinyTeX/bin/x86_64-linux/tlmgr path add

      - name: install dependencies for diagram.lua and webshot2
        run: sudo apt update && sudo apt install -y inkscape libcurl4-openssl-dev

      - name: register micromamba for reticulate
        shell: micromamba-shell {0}
        run: echo RETICULATE_PYTHON=`which python` > _environment

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.3.2'

      - name: Install R Dependencies with renv
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 1  

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}